{% extends "layout.html" %}

{% block body %}
    {% if error %}
        <section class="error">
            {% if error == 'limit' %}
            <p>Daily image request limit exceeded. 😭
            {% else %}
            <p>Error contacting Google image search. 😕
            {% endif %}

        </section>
    {% else %}
        <section class="img_layer" style="background: url({{ life_img }}) no-repeat center center;  background-size: cover;">
        </section>
        <section id="pattern" style="{{ pattern_style }}">
            <div class="msg_layer">
                <p>Happy birthday to you,</p>
                <p>Happy birthday to you,</p>
                <p>Happy birthday dear Kelly,</p>
                <p>Happy birthday to you!</p>
                <p style="font-size: 48px;">🎂</p>
                <p>Love, Ben</p>
                <p>Images selected at random from <a href="http://images.google.com/hosted/life">Life Magazine</a></p>
                <p></p>
                <p></p>
                <p></p>
                <p>Are you still watching this?</p>
                <p>It will go on forever.</p>
            </div>
        </section>
    {% endif %}

{% endblock body %}

{% block footscripts %}
    <script>
        var life_img = "{{ life_img }}";
    </script>
{% endblock footscripts %}