<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Happy Birthday, Kelly!</title>
    <link rel="stylesheet" type="text/css" href="/static/css/kelly.css">
    <meta name="robots" content="noindex,noimageindex,nofollow,noarchive">
    {% block html_head %}{% endblock %}
</head>
<body style="{% block bodystyle %}{% endblock bodystyle %}">
    {% block body %}
    {% endblock body %}

    {% block footscripts %}
    {% endblock footscripts %}
    <script src="/static/js/app.js"></script>
</body>
</html>